extends layout
block content
  header
    h1.homesection-title  Contact Us
  section
    include navbar.pug

  iframe(width='90%', height='400px', frameborder='0', src='https://a.tiles.mapbox.com/v4/asantos3026.1b516lig/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiYXNhbnRvczMwMjYiLCJhIjoiZWZlMmMyM2JiN2ZiNzcxZmJkOGJhMWNhZWE4ODc1MjMifQ.Moj73Bv5_uyylRIcZkXcYg')

  h2 7115 Woodland Avenue, Cleveland OH 44104
  h3 216-881-7005

  h1 Question?

  form(action='/contact', method='POST')
    .form-group
      label(for='Name') Name
      input#exampleInputEmail1.form-control(type='text', name='name', placeholder='Name')
    .form-group
      label(for='Email') Email address
      input#exampleInputEmail1.form-control(type='email', name='email', placeholder='Email')
    .form-group
      label(for='Number') Phone Number
      input#exampleInputEmail1.form-control(type='number', name='phone', placeholder='Phone Number')
    .form-group
      label(for='Message') Message
      input#exampleInputPassword1.form-control(type='text', name='message' placeholder='Message')
      button#contact(type='submit') Submit
