extends layout
block content
  header
    h1.homesection-title  Little Scholars
    h4.homesection-subtitle  Childcare and Enrichment Center
  section
    include navbar.pug
  section
    .homesection
      img(src='https://image.freepik.com/free-vector/hand-painted-sun_23-2147510442.jpg')
  section.footer
    .navbar-container
      div
        a(href='https://shakalee14.github.io/') Established 2010
      div
        a(href='#')  Website Created By Hallie Clark
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='../js/client.js')
