.navbar-container
  div
    a(href='/')  Home
  div
    a(href='/philosophy')  Philosophy
  div
    a(href='/programs')  Programs
  div
    a(href='/staff')  Staff
  div
    a(href='/contact')  Contact Us