extends layout
block content
  header
    h1.homesection-title  Philosophy
  section
    include navbar.pug

  section#intro(data-speed='6', data-type='background')
    .container
      p Strengthening Families
      p -
      p Building Esteem
      p -
      p Changing Paradigms

  section#text
    .container
      p You work hard.  Whether you are in school your self or working to make ends meet - we know - that you work hard!  As your child care provider we want to provide the optimum help that you need in raising your precious little loved ones.  Our centers stress LEARNING and we enhance it as well!  It is a well known fact that people perish from a lack of knowledge that is why we make learning fun! Our expertly trained staff is here for you.  100% of the time your child is with us they are being exposed to greater knowledge.  Even when they eat together they are learning food combinations and how to relax and enjoy their food.  Playtime entails lessons in social skills, etiquette  as well as sharing yet Homework holds the Key! There is only one thing at our facilities that is more important to us than Homework-Done-Right and that is family.  As a division of Family for Life Foundation our greatest joy is building strong and productive families!      This is our stance....and... "we approve this message!"