extends layout
block content
  header
    h1.homesection-title  Programs
  section
    include navbar.pug

  .programs
    h2 We invest in OUR Children
    h3 Available programs include the following:

    p Computer workshops new state of the art equipment.
    p Rites of Passage Program instilling cultural values that deflect attention away from degenerate activities.
    p Bible Study (optional)


    h3 Fun Activities
    p We offer arts and crafts classes with local professional artist

    h3 After School Entrepreneurs
    p Instills a universal consciousness allowing the child to realize their God given talent and how to optimize it.
    h3 Additional Activities Include:
    ul
        li Summer Camp
        li Kwanzaa Camp
        li African Dance Classes
        li Jewelry Design
        li Sales
        li Marketing
        li Promotions
        li Martial arts classes
        li Foreign Language classes
        li Gardening
        li Youth Choir