extends layout
block content
  header
    h1.homesection-title  Staff
  section
    include navbar.pug

  .row.staff
    .col-1
      h1 Staff
      | We look for professionally trained teachers with specialized skills in early childhood development to service our centers. We pride ourselves with over 87 years of combined childcare and business experience.  That coupled with the desire to be pleasing unto our Creator we know that our service can not be replicated.

      h3 Our Mission:

      | Our Mission is to inspire teachers to inspire children to think outside of the box by providing them a nurturing environment and quality education that gives them new and exiting things to dream about.

      h3 Our Goal:

      | Our Goal is to expand by developing our campus in areas of critical thinking balanced with creative expression. Focusing on the development of strong spirited leaders that will become positive forces in the future of our communities.   Our staff's committed dedication to unconditional love and positive direction promises the end result to be all that we pray and work so hard for.

    .col-2
      h2 Current Staff
      p Michele Clark
      p Demetrius Carter
      p Gaynel Manning
      p Juliet Bonner
      p Lauren Wright